includes:
  - strict-rules.neon.dist

parameters:
  tmpDir: build/phpstan
  level: 6
  paths:
    - src
    - tests
  bootstrapFiles:
    - vendor/autoload.php
  parallel:
    processTimeout: 300.0
  checkMissingIterableValueType: false
